.topLine {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0 10px;

  &_details {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    line-height: 20px;
    margin-left: 30px;
    position: relative;

    &_names {
      font-size: 14px;
      color: #000000;
    }

    white-space: nowrap;

    width: fit-content;

    &::before {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: red;
      transition: width 0.3s ease-in-out;
    }

    &:hover::before {
      width: 100%;
    }
  }

}


@media screen and (max-width: 990px) {
  .topLine {
    display: none;
  }
}


.resDesLogo {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &_fiveLoge {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &_each {
      margin: 5px;
    }
  }
}

@media screen and (min-width: 990px) {
  .resDesLogo {
    display: none;
  }
}
