@import url("https://fonts.cdnfonts.com/css/calibre");
$checkbox-grey: #57585b;
$light-grey: #e6e6e6;
$radio-red: #d31334;

* {
  margin: 0;
  padding: 0;

  // transition: all ease-in-out 200ms;
}
.filters {
  font-family: calibre;
  h1 {
    padding: 35px 0 35px 10px;
    font-size: 30px;
  }
  h4 {
    font-size: 19px;
    font-weight: 400;
  }
  p {
    font-weight: 350;
    font-size: 18px;
    margin-right: 5px;
  }
}
.filters {
  width: 300px;

  .filter {
    background-color: white;
    padding: 15px 10px;
    // border-top: 1px solid $light-grey;
    border-top: 0.3px solid $light-grey;

    &_expand {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 13px;
    }
    &_expand:hover {
      cursor: pointer;
    }
    &_choice {
      // transition: all ease-in-out 200ms;

      .fold {
        margin: -10px;
        height: 0;
        opacity: 0;
        pointer-events: none;
      }
      .more {
        animation-fill-mode: backwards;
        animation-duration: 500ms;
        animation-name: more;
      }
      .less {
        animation-fill-mode: forwards;
        animation-duration: 500ms;
        animation-name: less;
      }
      &_row {
        // transition: all ease-in-out;
        animation-name: show;
        animation-duration: 1000ms;
        animation-fill-mode: backwards;
        margin-top: 10px;
        display: flex;
        div {
          padding: 1px;
          box-sizing: border-box;
          font-weight: 500;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 17px;
          height: 17px;
          border: 1.5px solid $checkbox-grey;
          margin-right: 5px;
        }
        .sort_radio {
          border-radius: 30px;
          border-width: 1px;
        }
        .sort_radio_checked {
          border-color: $radio-red;
          border-radius: 30px;
          border-width: 1px;
        }
        .sort_radio_checked::after {
          content: "";
          background-color: $radio-red;
          width: 10px;
          height: 10px;
          border-radius: 30px;
        }
        .checkbox {
          color: white !important;
          background-color: $checkbox-grey;
        }
      }
      &_row:hover {
        cursor: default;
        div {
          color: rgb(197, 197, 197);
        }
      }
    }
    &_more {
      transition: all ease-out 200ms;
      margin-top: 10px;
      background-color: white;
      transition: all ease-in-out 1000ms;
      .more_or_less {
        display: flex;
        align-items: center;
        line-height: 60px;
        color: $checkbox-grey;

        svg {
          fill: $checkbox-grey;
        }
      }
    }
    &_more:hover {
      cursor: pointer;
    }
  }
  .lable_tablet {
    border-top: none;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
@keyframes more {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  50% {
    height: auto;
  }
}
@keyframes less {
  0% {
    height: auto;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin: -10px;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 992px) {
  .filter_desktop {
    display: none;
  }
}
@media (min-width: 992px) {
  .filter_tablet {
    display: none;
  }
}
