$red: #d31334;
.whats_new {
  .more_product:hover {
    cursor: pointer;
  }
  .more_product {
    width: 100%;
    // border: 1px black solid;
    background-color: white;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 60px;
    p {
      margin-bottom: 10px;
    }
    .plus-minus {
      svg {
        color: $red;
      }
      position: relative;
      width: 20px;
      margin-top: 5px;
      margin-right: 20px;
      aspect-ratio: 1/1;
      // border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        transition: all ease-in 200ms;
        // border: 1px black solid;
      }
      // div:nth-child(1) {
      //   margin-right: -50%;
      // }
      div:nth-child(2) {
        margin-left: -100%;
      }
      .move {
        transform: rotate(90deg);
        margin-top: -12px;
        margin-left: -23px !important;
      }
    }
    h4 {
      font-size: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
