.plus-minus {
  position: relative;
  width: 20px;
  margin-top: -3px;
  aspect-ratio: 1/1;
  // border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    transition: all ease-in 100ms;
    position: fixed;
  }

  .move {
    transform: rotate(90deg);
    margin-top: -5px;
    margin-left: -1px;
  }
}
