.carousel {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .thumbnails {
    display: grid;

    width: 70%;
    // margin: 0 auto;
    grid-gap: 20px;
    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: 50% 0%;
    }
  }
  .library {
    // width: 100%;
    aspect-ratio: 9/10;
    width: 100%;
    overflow: hidden;
    position: relative;
    .left,
    .right {
      position: absolute;
      top: 50%;
      transform: scale(2);
      z-index: 900;
    }
    .right {
      right: 0;
    }
    .frame {
      display: flex;
      transition: all ease-out 300ms;
    }

    img {
      aspect-ratio: 9/10;
      width: 100%;
      //   object-position: 50% 0%;
      // object-fit: cover;
    }
  }
  .dots {
    display: grid;
    // width: 50%;
    margin: 0 auto;

    grid-gap: 8px;
    .dot {
      width: 8px;
      height: 8px;
      border-radius: 20px;
      background-color: grey;
    }
  }
}
