.cart_added {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.cart_added_front {
  width: 70%;
  max-width: 700px;
  background-color: white;
  z-index: 1001;
  padding: 30px;
}
.cart_added_front_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(202, 202, 202);
  margin-bottom: 30px;
}
.cart_added_front_top_left + svg {
  position: relative;
  top: -20px;
}
.cart_added_front_top_left + svg:hover {
  cursor: pointer;
}
.cart_added_front_top_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart_added_front_top_left h1 {
  font-size: 35px;
  font-weight: 600;
  margin-right: 20px;
}
.cart_added_front_top_left div {
  display: flex;
  align-items: center;
  justify-content: left;
}
.cart_added_front_top_left div p {
  font-size: 20px;
  font-weight: 500;
}
.cart_added_front_top_left div svg {
  position: relative;
  top: -8px;
}
.cart_added_front_bottom {
  display: grid;
  grid-template-columns: 1fr 250px;
}
.cart_added_front_bottom_left {
  display: flex;
  border-right: 1px solid rgb(202, 202, 202);
  padding-right: 30px;
}
.cart_added_front_bottom_left img {
  width: 90px;
  margin-right: 20px;
  object-fit: cover;
}
.cart_added_front_bottom_left h2 {
  font-size: 25px;
  font-weight: 500;
}
.cart_added_front_bottom_left p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.cart_added_front_bottom_right {
  padding-left: 30px;
}
.cart_added_front_bottom_right div {
  display: flex;
  justify-content: space-between;
}
.cart_added_front_bottom_right div p {
  font-size: 18px;
}
.cart_added_front_bottom_right button {
  border: none;
  background-color: #d31334;
  color: white;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  margin: 15px 0;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all ease-in-out 200ms;
}
.cart_added_front_bottom_right button:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.cart_added_front_bottom_right button + p {
  width: 100%;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}
.cart_added_front_bottom_right button + p svg {
  color: #d31334;
  position: relative;
  top: 3px;
  left: 5px;
  transition: all ease-in-out 200ms;
}
.cart_added_front_bottom_right button + p:hover {
  cursor: pointer;
}
.cart_added_front_bottom_right button + p:hover svg {
  left: 10px;
}
.cart_added_back {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.486);
}

@media (max-width: 992px) {
  .cart_added_front {
    width: unset;
    max-width: unset;
    margin: 0 20px;
  }
}
@media (max-width: 600px) {
  .cart_added_front_top {
    margin-bottom: 0;
  }
  .cart_added_front_top_left {
    flex-direction: column-reverse;
  }
  .cart_added_front_top_left div {
    width: 100%;
    margin-bottom: 10px;
  }
  .cart_added_front_bottom {
    grid-template-columns: 1fr;
  }
  .cart_added_front_bottom_left {
    border-right: none;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 20px 0;
  }
  .cart_added_front_bottom_left img {
    width: 150px;
  }
  .cart_added_front_bottom_left h2 {
    font-size: 20px;
  }
  .cart_added_front_bottom_right {
    padding: 20px 0 0;
  }
}

/*# sourceMappingURL=CartAdded.css.map */
