$light-grey: #fafafa;
$dark-grey: rgb(202, 202, 202);
$red: #d31334;

.feature_panels {
  background-color: white;

  .feature_panel {
    width: 100%;
    border-bottom: 1px solid $dark-grey;
    padding: 30px 0 40px;
    &_title:hover {
      cursor: pointer;
    }
    &_title {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      img {
        width: 40px;
        position: relative;
        top: 8px;
        margin-right: 30px;
      }
      h1 {
        font-size: 40px;
        font-weight: 600;
      }
    }
    ul {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      li {
        background-color: $light-grey;
        list-style: none;
        padding: 20px;
        font-size: 20px;
        border-radius: 5px;
      }
    }
  }
  .feature_panel:last-child {
    border-bottom: none;
  }
}
@media (max-width: 992px) {
  .feature_panels {
    .feature_panel {
      ul {
        grid-template-columns: repeat(2, 1fr);
      }
      h1 {
        font-size: 25px;
        font-weight: 500;
      }
    }
  }
}
@media (max-width: 600px) {
  .feature_panels {
    background-color: unset;
    .feature_panel {
      //   border: none;
      padding: 10px 0;
      h1 {
        font-size: 18px;
        font-weight: 400;
      }
      img {
        width: 20px;
        margin-right: 10px;
        top: 5px;
      }
      ul {
        display: block;
        li {
          padding: 0;
          font-size: 18px;
          list-style: disc;
          list-style-position: inside;
          margin-left: 8px;
        }
      }
    }
  }
}
