$color-checkbox: rgb(222, 217, 217);
.product {
  svg {
    color: black;
  }
  //   width: 100%;
  animation-name: show_one_product;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  .disable {
    pointer-events: none;
    opacity: 0.3;
  }
  * {
    text-decoration: none;
  }
  h3,
  p {
    text-decoration: none !important;
    color: black;
  }
  .color-checkbox {
    div {
      margin: 0 auto;
      box-sizing: border-box;
      width: 26px;
      height: 26px;
      border-radius: 30px;
      border: 2px solid $color-checkbox;
    }
    div::after {
      box-sizing: border-box;
      content: "";
      display: block;
      border: 1.5px solid white;
      width: 34px;
      height: 34px;
      border-radius: 30px;
      margin: -6px 0 0 -6px;
    }
    .color-checkbox-checked::after {
      border: 1.5px solid black;
    }
  }
  .color-checkbox:hover {
    cursor: pointer;
    div::after {
      border: 1.5px solid $color-checkbox;
    }
    .color-checkbox-checked::after {
      border: 1.5px solid black;
    }
  }
  img {
    width: 100%;
    margin-bottom: 10px;
  }
  .description {
    margin-top: 10px;
  }
  .swatches-desktop {
    .color-checkbox {
      transform: scale(0.7);
    }
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;

    &-arrow:hover {
      cursor: pointer;
    }
    &-arrow,
    &-arrow div {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        transform: scale(1.2);
      }
    }

    .color-checkboxes {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }
  .swatches-tablet {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;

    &-arrow:hover {
      cursor: pointer;
    }
    &-arrow,
    &-arrow div {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        transform: scale(1.2);
      }
    }
    .color-checkbox {
      transform: scale(0.9);
    }
    .color-checkboxes {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
  .swatches-mobile {
    .color-checkboxes {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      .color-checkbox,
      .more {
        transform: scale(0.7);
      }
      .more {
        margin: 0 auto;
        box-sizing: border-box;
        width: 26px;
        height: 26px;
        border-radius: 30px;
        border: 2px solid $color-checkbox;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
        padding-top: 6px;
      }
      .more:hover {
        cursor: pointer;
      }
    }
  }
}

@keyframes show_one_product {
  0% {
    opacity: 0;
    filter: contrast(0%);
  }
  70% {
    opacity: 1;
  }
  100% {
    filter: contrast(1);
  }
}

@media (max-width: 400px) {
  .product {
    .swatches-tablet {
      display: none;
    }
  }
}

@media (min-width: 400px) {
  .product {
    .swatches-mobile {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .product {
    .swatches-desktop {
      display: none;
    }
  }
}
@media (min-width: 992px) {
  .product {
    .swatches-tablet {
      display: none;
    }
    .swatches-mobile {
      display: none;
    }
    .description {
      display: grid;
      grid-template-columns: 7fr 3fr;
      p {
        text-align: right;
      }
    }
  }
}
