.product {
  animation-name: show_one_product;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}
.product .disable {
  pointer-events: none;
  opacity: 0.3;
}
.product .color-checkbox div {
  margin: 0 auto;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  border-radius: 30px;
  border: 2px solid rgb(222, 217, 217);
}
.product .color-checkbox div::after {
  box-sizing: border-box;
  content: "";
  display: block;
  border: 1.5px solid white;
  width: 34px;
  height: 34px;
  border-radius: 30px;
  margin: -6px 0 0 -6px;
}
.product .color-checkbox .color-checkbox-checked::after {
  border: 1.5px solid black;
}
.product .color-checkbox:hover {
  cursor: pointer;
}
.product .color-checkbox:hover div::after {
  border: 1.5px solid rgb(222, 217, 217);
}
.product .color-checkbox:hover .color-checkbox-checked::after {
  border: 1.5px solid black;
}
.product img {
  width: 100%;
  margin-bottom: 10px;
}
.product .description {
  margin-top: 10px;
}
.product .swatches-desktop {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}
.product .swatches-desktop .color-checkbox {
  transform: scale(0.7);
}
.product .swatches-desktop-arrow:hover {
  cursor: pointer;
}
.product .swatches-desktop-arrow, .product .swatches-desktop-arrow div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .swatches-desktop-arrow svg, .product .swatches-desktop-arrow div svg {
  transform: scale(1.2);
}
.product .swatches-desktop .color-checkboxes {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.product .swatches-tablet {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
.product .swatches-tablet-arrow:hover {
  cursor: pointer;
}
.product .swatches-tablet-arrow, .product .swatches-tablet-arrow div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .swatches-tablet-arrow svg, .product .swatches-tablet-arrow div svg {
  transform: scale(1.2);
}
.product .swatches-tablet .color-checkbox {
  transform: scale(0.9);
}
.product .swatches-tablet .color-checkboxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.product .swatches-mobile .color-checkboxes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.product .swatches-mobile .color-checkboxes .color-checkbox,
.product .swatches-mobile .color-checkboxes .more {
  transform: scale(0.7);
}
.product .swatches-mobile .color-checkboxes .more {
  margin: 0 auto;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  border-radius: 30px;
  border: 2px solid rgb(222, 217, 217);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  padding-top: 6px;
}
.product .swatches-mobile .color-checkboxes .more:hover {
  cursor: pointer;
}

@keyframes show_one_product {
  0% {
    opacity: 0;
    filter: contrast(0%);
  }
  70% {
    opacity: 1;
  }
  100% {
    filter: contrast(1);
  }
}
@media (max-width: 400px) {
  .product .swatches-tablet {
    display: none;
  }
}
@media (min-width: 400px) {
  .product .swatches-mobile {
    display: none;
  }
}
@media (max-width: 992px) {
  .product .swatches-desktop {
    display: none;
  }
}
@media (min-width: 992px) {
  .product .swatches-tablet {
    display: none;
  }
  .product .swatches-mobile {
    display: none;
  }
  .product .description {
    display: grid;
    grid-template-columns: 7fr 3fr;
  }
  .product .description p {
    text-align: right;
  }
}

/*# sourceMappingURL=OneProduct.css.map */
