.thirdLine {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 20px;


  &_localAddName {
    color: #57585B;
    font-size: 12px;
    font-weight: lighter;
    align-items: center;
    margin: 5px;
    line-height: 13px;
  }

  &_otherTwo {
    &_term {
      color: #57585B;
      font-size: 12px;
      font-weight: lighter;
      text-align: center;
      text-decoration: none;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: red;
        transition: width 0.3s ease-in-out;
      }

      &:hover::before {
        width: 100%;
      }

    }

    span {
      margin: 0 20px;
      font-weight: lighter;
    }
  }
}