@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.feedback {
  margin: auto;
  position: relative;
  padding: 20px 20px;
  border-color: #dedede;
  border-style: solid;
  text-align: left;
  height: 816.5px;
  width: 438px;
}
.feedback .topLogos {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.feedback .close {
  font-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
}
.feedback .close:hover {
  cursor: pointer;
}
.feedback p {
  font-size: 14px;
  text-align: left;
  color: #595959;
  margin-bottom: 5px;
  font-family: "Open Sans", serif;
}
.feedback .topLine {
  margin: 20px 0 0 0;
  font-weight: bold;
  font-size: 14px;
}
.feedback .asterisk {
  color: red;
  position: relative;
  margin-top: -50px;
}
.feedback .stars:hover {
  cursor: pointer;
}
.feedback .stars {
  color: grey;
  font-size: 35px;
  margin: 10px 0 10px -20px;
}
.feedback #starRadio {
  visibility: hidden;
}
.feedback #numRadio {
  visibility: hidden;
}
.feedback .number-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  box-sizing: border-box;
  line-height: normal;
  margin: 10px 40px 30px -10px;
  padding: 0;
}
.feedback .number-button:hover {
  cursor: pointer;
}
.feedback .number-button.selected {
  background-color: #595959;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 10%;
}
.feedback .messageBox {
  background: #FFFFFF;
  padding: 6px 4px;
  border-radius: 4px !important;
  color: #1e1e1e;
  width: 378px;
  height: 77px;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #595959;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: block;
  position: relative;
  margin: auto;
  text-align: left;
}
.feedback input[type=text] {
  color: #595959 !important;
  font-size: 13px;
  position: relative;
  display: block;
  margin: 0 0 0 31px !important;
  cursor: pointer;
}
.feedback form label {
  font-size: 14px;
  font-family: "Open Sans", serif;
}
.feedback a {
  color: #0071EB;
  text-decoration: none;
}
.feedback .twoBtns {
  display: flex;
  justify-content: flex-end;
  float: right;
}
.feedback .closeBtn {
  margin: 0 10px 0 0;
  padding: 6px 12px;
  justify-content: flex-end;
  line-height: 1.42857143;
  transition: all 0.3s ease 0s !important;
  position: relative;
  color: rgb(91, 91, 91);
  background-color: rgb(226, 226, 226);
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 0.25rem;
  border: 1px solid;
  cursor: pointer;
}
.feedback .submitBtn {
  margin: 0;
  padding: 6px 12px;
  background-color: rgb(74, 74, 74);
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  line-height: 1.42857143;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.25rem;
}
.feedback .medallia a {
  text-align: right;
  cursor: pointer;
  color: #595959;
  font-size: 14px;
  font-family: "Open Sans", serif;
}
.feedback .medallia a span {
  font-weight: bold;
  color: black;
}
.feedback .bottomTwoLines {
  display: flex;
  flex-direction: column;
  float: right;
  color: black !important;
}

/*# sourceMappingURL=feedback.css.map */
