$light-grey: #e6e6e6;
.sort-desktop {
  font-family: calibre;
  width: 100%;
  // width: 150px;
  //   border: 1px solid black;
  box-sizing: border-box;
  p,
  span {
    font-weight: 350;
    font-size: 18px;
    margin-right: 5px;
  }
  &-head {
    display: grid;
    grid-template-columns: 400px 1fr;

    justify-content: space-between;
    div {
      display: flex;
      justify-content: right;
    }
    &-title {
      font-weight: 600 !important;

      //   border: 1px solid black;
    }
    span {
      display: flex;
      justify-content: space-between;
      svg {
        right: 0;
        width: 20px;
        margin-top: -1px;
        margin-left: 20px;
      }
    }
    span:hover {
      cursor: pointer;
    }
  }
  &-body {
    &-option {
      box-sizing: border-box;
      //   border: 1px solid black;

      width: 300px;
      text-align: center;
      right: 0;
      z-index: 100;
      //
      position: absolute;
      p {
        background-color: white;
        padding: 20px;
      }
      p:hover {
        cursor: pointer;
        background-color: $light-grey;
      }
    }
    .pop-window-back {
      z-index: 99;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      //   background-color: rgba(120, 60, 60, 0.194);
    }
  }
}
@media (max-width: 992px) {
  .sort-desktop {
    display: none;
  }
}
@media (min-width: 992px) {
  .lable_tablet {
    display: none;
  }
  .sort_tablet {
    display: none;
  }
}
